<div class="jumbotron">
  <h1>Bem-vindo a Doe Felicidade</h1>
  <p>Conecte-se aos locais onde você pode doar e receber amor e felicidade!</p>
  <p><%= link_to 'Cadastrar', donation_locals_path, class:"btn btn-primary btn-lg"%>
     <a class="btn btn-primary btn-lg" href="#" role="button">Buscar</a>  </p>
</div>
